@import "variables";

.page-about {
  width: 100%;
  .top {
    @include page-width;
  }

  .hobby-wrapper {
    @include fade-bg;
    padding: 1em 0;
    @include small-screen {
      padding: 0.5em 0;
    }
  }
  .content {
    @include page-width;

    p,
    h4 {
      max-width: 100%;
      width: 700px;
      margin: auto;
    }
  }
  .info {
    padding: 1em 0;
    @include small-screen {
      padding: 0.5em 0;
    }
  }
}