@import "variables";

footer {
  position: relative;
  text-align: center;
  width: 100%;
  max-height: 310px;

  img {
    transform: scaleY(-1);
    object-fit: cover;
    object-position: center top;
    width: 100%;
    max-height: 210px;
    opacity: 0.7;
  }
  .contact {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    @include phone{
      top:25px;
    }
  }
  .contact-icon {
    font-size: 32px;
    padding: 2px;
    text-decoration: none;
    color: color(med-blue);
    @include raise;
    &:hover {
      color: color(light-blue);
    }
  }
  .at-icon {
    font-size: 12px;
  }
  p{
    font-weight: bold;
  }
}
