@import "variables";

header {
  position: relative;
  max-width: 100vw;
  .bg-container {
    text-align: center;
    width: 100%;
    max-height: 310px;
    margin-bottom: 100px;
    @include tablet {
      margin-bottom: 75px;
    }
  }
  .bg {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    max-height: 310px;
    opacity: 0.7;
  }
  .portrait-info-container {
    position: absolute;
    // margin-left: -10vw;
    // bottom: -8vw;
    bottom: -97px;
    margin-left: -100px;
    left: 50%;
    display: flex;

    @include tablet {
      bottom:-72px;
      // left:50%; 
      margin-left:0px;
    transform:translate(-50%, 0); 
      // left: 33%;
    }
  }
  .portrait {
    float: left;
    background-color: color(white);
    border-radius: 50%;
    // width: 15vw;
    height: auto;
    padding: 5px;
    border: 2px solid color(medium);
    width: 200px;
    @include tablet {
      width:150px;
    }
  }
  .header-text {

    margin: auto 10px;
    display: block;
    white-space: nowrap;
    .dark {
      h3 {
        color:color(dark-blue);
      }
    }
    .light {
      h3 {
        color: color(light-blue);
      }
    }
    h3{
      margin-top:0;
    }
    .wrap-text {
      display: flex;
      flex-direction: row;
      @include small-screen {
        flex-direction: column;
      }
    }
    .indented {
      @include small-screen {
        text-indent: 8px;
      }
    }
  }
}
