@import "variables";

.slider-wrapper {
  height:auto;
  // margin-bottom: 2em;
  // margin:0 auto 2em auto;
  text-align: center;
  .btns-wrapper {
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .btns-wrapper-small {
    margin: 1em auto 0 auto;
    display: flex;
    max-width: 500px;
    width:auto;
    justify-content: space-between;
    text-align: center;
  }
  .slider-btn {
    cursor: grab;
    outline: none;
    border: none;
    background-color: transparent;
    color: color(med-blue);
    .icon-btn {
      height: 3em;
      width: 3em;
      @include small-screen{
        height:2em;
        width:2em;
      }
    }
  }
  .dots {
    display: flex;
    align-items: center;
  }
  .dot {
    height: 0.75em;
    width: 0.75em;

    margin: 0.5em;
    border-radius: 50%;
    background-color: color(light-blue);
    cursor: grab;
    @include small-screen {
      height:.6em;
      width:.6em
    }
  }
  .selected {
    height: 1em;
    width: 1em;
    background-color: color(med-blue);
    @include small-screen{
      height:.75em;
      width:.75em;
    }
  }

  .slider-img {
    width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    @include small-screen {
      margin: 2em 0 0 0;
    }
  }
  .slider-img-small {
    object-fit: scale-down;
    max-width:100%;
    width: 500px;
    height: 500px;
  }
}
