 @import "variables";

.resume-wrapper {
  max-width:850px;
  margin:auto;
  display:flex;
  justify-content: space-around;
  min-height:70vh;

  @include tablet{
    flex-direction: column;
  }

  .skills-wrapper {
    @include tablet{
      @include page-width;
    }
    }
    .skills-heading{
      color:color(med-blue)
    }
    ul {
      list-style-type: none;
      @include tablet{
      @include page-width;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      }
    }
    .skill {
      text-indent: 1em;
      margin-top: 5px;
      color:color(grey);
      font-weight: 550;
      @include small-text;
      @include tablet{
        margin:3px;
        }
    }
  .right{
    @include page-width;
    max-width:700px;
    margin-right:0px;
    @include tablet{
      margin:auto;
    }   
  }
  section{
    margin-top: 1em;
  }
  .exp-wrapper, .edu-wrapper{
    margin:1em;
  }


    .exp-item{
      list-style-type: disc;
      display: list-item;
      margin-left:1em;
    }
 }
