// Colors

$colors: (
  dark: #8f5d5c,
  medium: #ef9a73,
  light: #fec672,
  grey-accent: #d9d9db,
  light-grey: #a1a1a6,
  grey: #43434d,
  darker-grey: #35353d,
  dark-grey: #28282e,
  dark-blue: #153243,
  med-blue: #1f4861,
  light-blue: #5b85aa,
  bg: #fefbf7,
  grey-white: #F3F3F4,
  white: white,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Media Queries
$phone-width: 480px;
$tablet-width: 768px;
$small-screen-width: 1024px;
$desktop-width: 1280px;

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin small-screen {
  @media (max-width: #{$small-screen-width}) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin raise {
  transition: all 0.3s ease;
  transform: translateY(0) translateZ(0);
  &:hover,
  &:focus {
    transition: all 150ms ease;
    transform: translateY(-0.2rem) translateZ(0);
  }
}

@mixin fade-bg{
  background-image: linear-gradient(color(white), color(grey-white))
  // background-image: linear-gradient(color(grey-white), color(white))
}

@mixin small-text{
  font-size: 1.2em;
  line-height: 1.25;
  @include tablet{
    font-size:1.1em;
  }
  @include phone{
    font-size:1em;
  }
}

@mixin page-width{
  margin:auto;
  width:80%;
  max-width:1400px;
  @include small-screen{
    width:85%;
  }
  @include tablet{
    width:90%;
  }
  @include phone {
    width:96%;
  }
}
